body {
    padding-top: 50px;
    padding-bottom: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


html, body
{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.header { height: 50px;}

.footer { position: absolute;height: 25px; width: 100%; bottom: 0px; border:1px dotted blue }

.section
{
    padding:20px;
    border:1px dotted blue;
}

select {
    width:100%
}

#banner{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background: #ddd
}

#map {
    width:600px; height: 600px; border:2px solid blue;
    
}


 #backgroundaudio {
  display: block;
  position: fixed;
  bottom: -43px;
  left: 5px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
 }
 #backgroundaudio:hover {
  bottom: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
 }
 #backgroundaudio audio {
  background: #ffffff;
  padding: 5px;
  display: table-cell;
  vertical-align: middle;
  height: 43px;
  z-index: 9998;
 }
 #backgroundaudio i {
  font-size: 40px;
  display: block;
  background: #ffffff;
  padding: 5px;
  width: 50px;
  float: none;
  margin-bottom: -1px;
  z-index: 9999;
 }
